
* {

    padding: 0;
    margin: 0;
    box-sizing: border;
}

/* header */

.menu{
    background-color: black;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}



.titulo-header{
    text-decoration: none;
    color: rgb(145, 154, 169,1);
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    width: 30%;
    text-align: center;
    font-size: 30px;
}




/* pseudoclase hover*/
.navBar li a:hover{
    color:red; 
    
}
nav {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 70%;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: rgb(145, 154, 169,1);
}
@media (max-width: 1024px){
    .navBar{
        font-size: 13px;
    }
}

@media (max-width: 768px){
   .titulo-header{
    font-weight: 300px;
    font-size: 20px;
    width: 20%;
   }

   .navBar{
    font-size: 10px;
    width: 80%;
   }
}

@media (max-width: 425px){
    .navBar{
     display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
}

@media (max-width: 320px){
    
}


/* main */
main{
    height: 70vh;
}

.home-principal{
    height: 100%;
    font-family: "Karantina", system-ui;
    background-image: url("../assets/img/maxim-hopman-52Kf36w124Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #813535;
}

.home-titulo{
    font-size: 150px;
    text-align: left;
    margin-left: 20px;
}

.home-subtitulo{
    font-size: 120px;
    text-align: left;
    margin-left: 20px;
}

.home-texto{
    color: white;
    text-align: right;
    font-size: 35px;
    margin-right: 80px;
    justify-items: center;
}

.h1-home-principal{
    width: 100%;
}

.pie-pagina{
    height: 15vh;
    background-color: rgba(61, 0, 0, 1) ;
    display: flex;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

.box{
    
   color:  rgb(145, 154, 169,1);
   font-size: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.box2{
    
   color: rgb(145, 154, 169,1);
   font-size: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.img-iconos{
    width: 15px;


}
@media (max-width: 1024px){
}
@media (max-width: 768px){
}
@media (max-width: 425px){
    .home-titulo{
    font-size: 50px;
    text-align: center;
    margin-left: 20px;
    }
    .home-subtitulo{
        font-size: 50px;
        text-align: center;
    }
    .home-texto{
        font-size: 30px;
        text-align: center;
    }
}
@media (max-width: 320px){

}


/* servicios */


.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;

}



.container-img{
    width:90%;
    object-fit: contain ;
    height: 90%;
    justify-content: center;
    
}

.servicio-container{
    width: 80%;
    background-color: black;
    border-radius: 25px;
    height: 25vh;
}

.margin-servicio-container{
    margin-bottom: 35px;
}

.servicio-container h2{
    text-align: center;
    color: #813535;
    justify-content: center;
    
}

.servicio-container-principal{
    display: flex;
    justify-content: center;
   

}

.home-servicios{
    height: 100%;
    font-family: "Karantina", system-ui;
    background-image: url("../assets/img/maxim-hopman-52Kf36w124Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tatuajes{
    width: 100px;
    justify-content:space-between;
    height: 200px;
   
}
.ilustracion{
    width: 100px;
    justify-content:center;
    height: 200px;
}
.h1-titulos{
    font-family: "Karantina", system-ui;
    color: #813535;
    text-align: center;
    font-size: 50px;
}


/* portafolio */


.mainServicio{
    background-color: black;
}

.portafolioContainer{
    display: grid;
    width: 50%;
    height: 100%;
    margin: auto;
    gap: 10px;
    padding-top: 50px;
    background-color:black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "img1 img1 img2 img2 img3 img3 img4 img4"
    "img1 img1 img2 img2 img3 img3 img4 img4"
    "img5 img5 img6 img6 img7 img7 img8 img8"
    "img5 img5 img6 img6 img7 img7 img8 img8"
    ;
   
}

.vert1{
    grid-area: img1;
    border-radius: 10px;
}

.vert2{
    grid-area: img2;
    border-radius: 10px;
    
}

.vert3{
    grid-area: img3;
    border-radius: 10px;
}

.vert4{
    grid-area: img4;
    border-radius: 10px;
}

.vert5{
    grid-area: img5;
    border-radius: 10px;
}

.vert6{
    grid-area: img6;
    border-radius: 10px;
}

.vert7{
    grid-area: img7;
    border-radius: 10px;
}

.vert8{
    grid-area: img8;
    border-radius: 10px;
}


.portafolioContainer img{
    width: 100%;
    height: 180px;

    
}


/* agenda */

.home-agenda{
    height: 100%;
    width: 100%;
    font-family: "Karantina", system-ui;
    background-image: url("../assets/img/camilla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;

}

.contenedor-formulario{
  justify-content: center;
  
}

.formulario{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 25px;
    color: white;
    align-items: center;
   justify-content: flex-end;
    margin: 0;

}

.indicaciones{
    font-family: "Karantina", system-ui;
    color: white;
    text-align: center;
    font-size: 30px;
}

/* contacto */

.home-contacto{
    height: 100%;
    width: 100%;
    font-family: "Karantina", system-ui;
    background-image: url("../assets/img/img-contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-contacto{
    color:#813535;
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 300px;
}

.h2Contacto{
    color: black;
    font-size: 40px;
}
