.home-contacto{
    height: 100%;
    width: 100%;
    font-family: "Karantina", system-ui;
    background-image: url("../assets/img/img-contacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-contacto{
    color:#813535;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    height: 300px;
}

.h2Contacto{
    color: black;
    font-size: 40px;
    padding-top: 10px;
}

.img-iconos2{
    width: 20px;
    padding-right: 10px;
}